.items{
  width: 41vw;
  height: 78px;
  background: #FFFDFD;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin: 9px 0px 10px 25px;
} 
.key{
  display: flex;
  width: 41vw;
}
.name-item, .total-item{
  align-self: center;
  font-size: 20px;
  width: 12.5vw;
  font-family: Fira Sans;
  display: flex;
  font-size: 17px;
  height: 36px;
  font-weight: bold;
  padding-left: 8px;
}
.total-item{
  width: 0vw;
  font-size: 20px;
  margin-top: 15px;
}
.btn-less, .btn-more, .btn-dump, .sum{
  font-size: 23px;
  font-size: x-large;
  width: 60px;
  height: 35px;
  background: #C4C4C4;
  border: 1px solid #000000;
  border-radius: 0px;
  margin-top: 13px;
}
.sum{
  align-self: center;
  font-size: x-large;
  font-family: Fira Sans;
  font-weight: bold;
  width: 55px;
  height: 31.5px;
  margin: 8px 9px 4px 0px;
}
.buttons{
  display: flex;
  align-items: center;
  width: 21vw;
  justify-content: center;
  margin-top: 5px;
  margin-left: 20px;

}
.btn-dump{
  margin-right: 0px;
  background: none;
  border: none;
}
.dump{
  width: 21px;
  height: 20px;
  border: none;
}
@media (min-width: 640px) and (max-width: 1024px) {
  .items{
    width: 46vw;
    height: 70px;
    margin: 9px 0px 10px 4px;
  }
  .buttons{
    width: 23vw;
  }
  .name-item{
    font-size: 15px;
    width: 27vw;
    height: 48px;
    padding-left: 0px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
  .total-item{
    font-size: 18px;
    width: 2.5vw;
    margin-top: 20px;
  }
  .btn-less, .btn-more, .btn-dump{
    height: 41px;
  }
  .sum{
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-dump{
    margin-right: 0px;
  }
}
@media (max-width: 380px){
  .items{
    margin: 9px 0px 11px 2px;
    width: 43vw;
    height: 129px;
  }
  .buttons{
    display: flex;
    width: 37vw;
    margin-left: 12px;
  }
  .name-item{
    height: 51px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    width: 41vw;
    padding-left: 0px;
  }
  .total-item{
    display: flex;
    justify-content: center;
    margin-top: 0px; 
    padding-left: 0px;
    width: 43vw;
  }
  .key{
    display: block;
  }
  .btn-dump{
    margin-right: 0px;
  }
  .btn-more{
    margin-right: 0px;
  }
  .btn-more, .btn-less, .btn-dump{
    width: 30px;
    height: 25px;
  }
  .sum{
    width: 33px;
    height: 22.5px;
  }
}