* {
  margin: 0;
  padding: 0;
}
img{
  margin: auto;
  width: 40vw;
  height: 60vh;
}
figure{
  display: flex;
  width: 50vw;
  height: 100vh;
}
.div{
  display: flex;
  background: rgba(246, 241, 241, 0.79);
}
.input-login{
  margin: 16px 0px 30px 93px;
  display: block;
  border: solid 1.5px #3c2415;
  border-radius: 40px;
  box-sizing: border-box;
  box-shadow: 3px 21px 13px rgba(216, 84, 84, 0.308);
  height: 7vh;
  padding-left: 28px;
  width: 35vw;
  font-size: 20px;
  outline: none;
}
.input-password{
  margin: 16px 0px 30px 93px;
  display: block;
  border: solid 1.5px #3c2415;
  border-radius: 40px;
  box-sizing: border-box;
  box-shadow: 3px 21px 13px rgba(216, 84, 84, 0.308);
  height: 7vh;
  padding-left: 28px;
  width: 35vw;
  font-size: 20px;
  outline: none;
}
.button-loggin{
  font-size: 20px;
  height: 2.5vw;
  width: 20vw;
  background-color: #CC1900;
  border: none;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
outline: none;
}
.eyes-devil {
  position: relative;
}
.eye {
  position: absolute;
  top: 33.5%;
  right: 18%;
}
.eye:hover {
  color: #d13f34;
  cursor: pointer;
}
p{
  width: 50vw;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #565555;
  cursor: pointer;
}
.form-login{
  display: inline-block;
  align-self: center;
  text-align: center;
}
.select-form{
  display: contents;
}
@media (min-width: 640px) and (max-width: 1024px) {
  img{
    margin: 0px;
    width: 80vw;
    height: auto;
  }
  figure{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
  }
  .div{
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .input-login{
    margin: 22px 0px 19px 0px;
    height: 70px;
    width: 85%;
    font-size: 24px;
  }
  .input-password {
    margin: 16px 0px 30px 1px;
    width: 85vw;
    font-size: 23px;
  }
  .form-login{
    display: contents;
  }
  .eye{
    top: 39.5%;
    right: 4%;
  }
  .button-loggin{
    margin-top: 69px;
    height: 62px;
    width: 53%;
    font-size: 30px;
  }
  p{
    font-size: 20px;
  }
}
@media (max-width: 380px){
  img{
    margin: 0px;
    width: 89vw;
    height: 38vh;
  }
  figure{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 44vh;
  }
  .div{
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .input-login{
    
    margin: 0px 0px 13px 0px;
    height: 48px;
    width: 87%;
    font-size: 17px;
  }
  .input-password {
    margin: 16px 0px 30px 1px;
    width: 85vw;
    font-size: 17px;
    height: 8.3vh;
  }
  .form-login{
    display: contents;
  }
  .eye{
    top: 34%;
    right: 6%;
  }
  .button-loggin{
    margin-top: 0;
    height: 34px;
    width: 40%;
    font-size: 19px;
  }
  p{
    font-size: 14px;
  }

}

