.card-kitchen{
  display: block;
  text-align: center;
  width: 26vw;
  height: 37vh;
  background: #F95C4B;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 8px 8px 8px black;
}
.command{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 22vw;
  height: 6vh;
  background: #FFFCFC;
  border: 1px solid rgba(216, 84, 84, 0.308);
}
.btn-kitchen{
  margin-right: 0px;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 8vh;
  background: #D9D9D9;
  border-radius: 20px;
}
.head__order-card{
  display: flex;
  width: auto;
  height: 8vh;
  font-family: Fira Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
}
@media (min-width: 640px) and (max-width: 1024px) {
  .card-kitchen{
    width: 35vw;
    height: 40vh;
    margin-bottom: 45px;
  }
  .command{
    width: 30vw;
    height: 5vh;
  }
  .head__order-card{
    width: 35vw;
    height: 7vh;
  }
  .btn-kitchen{
    width: 16vw;
    height: 7vh;
    margin-top: 30px;
  }
}
@media (max-width: 380px){
  .card-kitchen{
    width: 84vw;
    height: 64vh;
    margin-bottom: 50px;
  }
  .command{
    width: 70vw;
    height: 9vh;
  }
  .head__order-card{
    width: 84vw;
    height: 10vh;

  }
  .btn-kitchen{
    width: 50vw;
  }

}