.card-kitchen{
  display: block;
  text-align: center;
  width: 23vw;
  height: 37vh;
  background: #F95C4B;
  border-radius: 20px;
  overflow: auto;
}
.command{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 20vw;
  height: 6vh;
  background: #FFFCFC;
  border: 1px solid rgba(216, 84, 84, 0.308); 
}
.btn-kitchen{
  margin-right: 0px;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 8vh;
  background: #D9D9D9;
  border-radius: 20px;
}
.head{
  display:flex;
  width: 23vw;
  height: 8vh;
  font-family: Fira Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  align-items: center;

}