.form-register {
  display: flex;
  justify-content: center;
  height: 30vh;
  flex-flow: wrap;
  position: relative;
}
.input-text {
  border: solid 1.5px #3c2415;
  border-radius: 40px;
  box-sizing: border-box;
  box-shadow: 9px 5px 9px rgba(216, 84, 84, 0.308);
  font-size: 10px;
  height: 4vh;
  padding-left: 20px;
  width: 47vw;
  margin-left: 15px;
  margin-top: 33px;
  outline: none;
}
.btn-register {
  font-size: 12px;
  height: 2vw;
  margin: 12px 38px 3px 33px;
  width: 32vw;
  background-color: #cc1900;
  border: none;
  border-radius: 35px;
  color: #fff;
  outline: none;
  cursor: pointer;
}
.chef-kitchen,
.img-hall {
  width: 4vw;
  height: 5vh;
  margin: 11px;
  display: flex;
}
.btn-radio-hall, .btn-radio-kitchen{
  margin-left: 36px;
  cursor: pointer;
}
.btn-radio-kitchen {
  margin-left: 17px;
}
.label-kitchen,
.label-hall {
  font-weight: bold;
  font-size: 15px;
  align-self: center;
  font-weight: bold;
}
.label-hall {
  font-size: 15px;
} 
.select-type {
  width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-type-two {
  display: flex;
  width: 100vw;
  height: 4vh;
  justify-content: center;
  align-items: center;
}
.eyes {
  width: 1vw;
  position: absolute;
  right: 110px;
  top: 93px;
}
.eyes:hover {
  color: #d13f34;
  cursor: pointer;
}
@media (max-width: 800px) {
  .input-text{
    margin-top: 23px;
  }
  .chef-kitchen, .img-hall{
    width: 9vw;
    height: 5vh;
  }
  .btn-register{
    margin-top: 20px;
    height: 4vh;
    margin-left: 48px;
  }
  .eyes{
    right: 69px;
    top: 97px;
  }
  .form-register{
    width: 56vw;
  }
}

