.form-register {
  display: flex;
  justify-content: center;
  height: 30vh;
  flex-flow: wrap;
  position: relative;
}
.input-text {
  border: solid 1.5px #3c2415;
  border-radius: 40px;
  box-sizing: border-box;
  box-shadow: 9px 12px 12px rgba(216, 84, 84, 0.308);
  font-size: 20px;
  height: 5vh;
  padding-left: 20px;
  width: 47vw;
  margin-left: 15px;
  margin-top: 20px;
  outline: none;
}

.btn-register {
  font-size: 18px;
    height: 2.5vw;
    margin: 0px 38px 3px 33px;
    width: 20vw;
    background-color: #cc1900;
    border: none;
    border-radius: 35px;
    color: #fff;
    outline: none;
    cursor: pointer;
    margin-top: 40px;
}
.chef-kitchen,
.img-hall {
  width: 4vw;
    height: 6vh;
    margin: 14px;
    display: flex;
}
.btn-radio-hall, .btn-radio-kitchen{
  margin-left: 36px;
  cursor: pointer;
}
.btn-radio-kitchen {
  margin-left: 17px;
}
.label-kitchen,
.label-hall {
  font-size: 20px;
  align-self: center;
  font-weight: bold;
}
.label-hall {
  font-size: 20px;
} 
.select-type {
  width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-type-two {
  display: flex;
  width: 100vw;
  height: 4vh;
  justify-content: center;
  align-items: center;
}
.eyes {
  width: 1vw;
  position: absolute;
  right: 110px;
  top: 77px;
}
.eyes:hover {
  color: #d13f34;
  cursor: pointer;
}
@media (min-width: 640px) and (max-width: 1024px) {
  .input-text{
    margin-top: 23px;
    font-size: 21px;
  }
  .chef-kitchen, .img-hall{
    width: 11vw;
    height: 7vh;
  }
  .btn-register{
    font-size: 25px;
    margin-top: 25px;
    height: 4vh;
    margin-left: 48px;
  }
  .eyes{
    right: 69px;
    top: 186px;
  }
  .form-register{
    width: 57vw;
    height: 46vh;
  }
  .label-kitchen, .label-hall{
    font-size: 22px;
  }
}
@media (max-width: 380px){
  .input-text{
    margin-top: 25px;
    font-size: 12px;
  }
  .chef-kitchen, .img-hall{
    width: 9vw;
    height: 5vh;
  }
  .btn-register{
    font-size: 13px;
    height: 4vh;
    margin-left: 48px;
  }
  .eyes{
    right: 26px;
    margin-top: 27px;
  }
  .form-register{
    width: 54vw;
  }
  .label-kitchen, .label-hall{
    font-size: 15px;
  }

}

