* {
  margin: 0;
  padding: 0;
}
.hall{
  background: #F6F1F1;
}
.menu{
  background: rgba(246, 241, 241, 0.79);
  height: 75vh;
  justify-content: space-around;
  font-size: 30px;
  display: flex;
  width: 100vw;
  font-family: Pacifico;
  font-style: normal;
  color: #000000;
  border-radius: 40px;
}
.header-hall{
  width: 100vw;
  font-size: 36px;
  font-family: Pacifico;
  display: flex;
  justify-content: center;
}
.breakfast, .burgers, .drinks, .sidedishes{
  font-size: 12px;
  width: 16vw;
  background: #F95C4B;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.breakfast-menu, .burges-menu, .menu-sidedishes,.menu-drinks{
  display: block;
  align-self: center;
}
.container-menu, .order-table{
  background-color: #fff !important;
  overflow: auto;
  text-align: center;
  width: 45vw;
  border-radius:15px;
}
.title-menu{
  font-size:22px;
}
.global{
  height: 100vh;
  background: rgba(246, 241, 241, 0.79);
}
.form-order{
  width: 142px;
  height: 28px;
  padding-left: 10px;
  background: #D9D9D9;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
.dice{
  display: flex;
  justify-content: space-around;
}
.description{
  width: 33px;
  height: 19px;
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
  font-family: Fira Sans;
  font-weight: bold;
  font-size: 16px;
}
.tab-item{
  display: flex;
  margin-right: 430px;
  padding-left: 23px;
}
.submit, .remove{
  width: 203px;
  height: 40px;
  background: #F95C4B;
  border-radius: 20px;
}
.subtotal{
  margin-top: 30px;
  font-size: 20px;
  font-family: Fira Sans;
  display: flex;
  justify-content: center;
  font-weight: bold;
  width: 45vw;
}
@media (min-width: 640px) and (max-width: 1024px) {
  .tab-item{
    margin-right: 222px;
  }
  .menu{
    height: 80vh;
  }
  .order-table{
    width: 47vw;
  }
  .breakfast, .burgers, .drinks, .sidedishes{
    font-size: 16px;
    width: 20vw;
    height: 33px;
  }
  .form-order{
    width: 21vw;
    height: 38px;
  }
  .title-menu{
    font-size: 26px;
  }
}
@media (max-width: 380px){
  .header-hall{
    font-size: 23px;
    text-align: center;
  }
  .breakfast, .burgers, .drinks, .sidedishes{
    width: 45vw;
  }
  .form-order{
    display: inline-flex;
    width: 37vw;
  }
  .tab-item{
    margin-right: 88px;
    padding-left: 0px;
  }
  .dice{
    width: 45vw;
    display: block;
  }
  .menu{
    height: 80vh;
  }
  .subtotal{
    font-size: 15px;
    margin-top: 20px;
  }
  .submit, .remove{
    width: 40vw;
    height: 10vw;
  }
  .order-table{
    width: 47vw;
  }
}