* {
  margin: 0;
  padding: 0;
}
.historic{
  background: #F6F1F1;
}
.global-historic{
  width: 100vw;
  height: 100vh;
  background: rgba(246, 241, 241, 0.79);
  overflow: auto;
}
.header-historic, .head{
  margin-top: 80px;
  width: 100vw;
  height: 9vh;
  font-size: 36px;
  font-family: Pacifico;
  display: flex;
  justify-content: center;
}
.head{
  margin-top: 0px;
  font-size: 24px;
  height: 7vh;
}
.historic-card{
  margin: auto;
  overflow: auto;
}
.container-historic{
  display: flex;
}
@media (min-width: 640px) and (max-width: 1024px) {
  .header-historic{
    height: 6vh;
    margin-top: 111px;
  }
  .head{
    height: 6vh;
  }
}
@media (max-width: 380px){
  .header-historic{
    margin-top: 58px;
    font-size: 26px;
  }
  .head{
    margin-top: 6px;
    font-size: 18px;
  }

}
