.card__inner{
  margin-bottom: 20px;
    display: flex;
    width: 50vw;
    height: 18vh;
    background: #F95C4B;
    border-radius: 17px;
  }
  .card__list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    width: 48vw;
    height: 14vh;
    background: #FFFCFC;
    border-radius: 6px;
    font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 24px;
  }
  .itens__client, .itens__card, .itens__time{
    margin-top: 17px;
    width: 20%;
    height: 0vh;
    
  }
  .itens__card{
    width: 35%;
    height: 2vh;

  }
  .itens__time{
    width: 35%;
    height: 2vh;

  }
  li{
    list-style-type: none;
  }